<%- include('header.ejs') %>
<body class="d-flex flex-column vh-100 bg-<%= locals.theme %>">
    <%- include('navigation.ejs') %>
    <section class="home-section container-fluid justify-content-center">
        <div class="profile-pic-container mx-auto d-flex align-items-center">
            <img class="profile-pic img-fluid" src="./assets/profile-pic.png" alt="Tobi DeRuiter Profile Picture">
        </div>
        <div class="home-text-container mx-auto d-flex align-items-center">
            <div class="home-text d-block justify-content-center">
                <p class="h7 text-center">Hello, I'm</p>
                <h1 class="display-1 text-center">Tobi DeRuiter</h1>
                <p class="h5 text-muted text-center mb-4">(they/them)</p>
                <p class="h4 text-center">Software and Robotics Engineer</p>
                <div class="btn-container container-fluid d-flex justify-content-center">
                    <button class="btn btn-outline-secondary me-2 rounded-pill" onclick="window.open('./assets/Resume_of_Tobi_DeRuiter.pdf')">
                        Resume
                    </button>
                    <button class="btn btn-info ms-2 rounded-pill" onclick="location.href='./contact'">
                        Contact
                    </button>
                </div>
                <div class="container mt-2">
                    <div class="row">
                        <div class="col-6">
                            <div class="icon float-end" style="mask-image: url('../assets/linkedin.svg');" onclick="location.href='https://www.linkedin.com/in/tobi-deruiter/'"></div>
                        </div>
                        <div class="col-6">
                            <div class="icon float-start" style="mask-image: url('../assets/github.svg');" onclick="location.href='https://github.com/tobi-deruiter'"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include('footer.ejs') %>
    <%- include('scripts.ejs') %>
</body>
</html>