<%- include('header.ejs') %>
<body class="d-flex flex-column vh-100 bg-<%= locals.theme %>">
    <%- include('navigation.ejs') %>
    <section class="about-section container-fluid mx-auto d-block justify-content-center align-items-center">
        <p class="h7 text-center">Get To Know More</p>
        <h1 class="display-1 text-center">About Me</h1>
        <div class="content-container container-fluid mx-auto justify-content-center align-items-center">
            <div class="about-pic-container mx-auto me-2 d-flex align-items-center">
                <img class="about-pic img-fluid mx-auto d-block" src="./assets/about-me-pic.jpg" alt="Profile Picture">
            </div>
            <div class="about-me-container mx-auto ms-2">
                <div class="about-containers justify-content-center">
                    <div class="details-container container m-5 p-2 border justify-content-center">
                        <div class="icon icon-no-effects mx-auto d-block icon-e m-1" style="mask-image: url('../assets/experience.svg');"></div>
                        <h3 class="text-center">Experience</h3>
                        <p class="text-center">
                            Backend Intern - Rush Market<br>
                            Computer Science Instructor - Coding Mind Academy
                        </p>
                    </div>
                    <div class="details-container container m-5 p-2 border justify-content-center">
                        <div class="icon icon-no-effects mx-auto d-block" style="mask-image: url('../assets/education.svg');"></div>
                        <h3 class="text-center">Education</h3>
                        <p class="text-center">
                            B.S. in Computer Science and Robotics<br>
                            Purdue University
                        </p>
                    </div>
                </div>
                <div class="about-me-text ps-2 pe-2">
                    <p class="text-center">
                        Expected to graduate with a B.S. in Computer Science and a B.S. in Robotics
                        Engineering Technology from Purdue University in December, 2024.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <%- include('footer.ejs') %>
    <%- include('scripts.ejs') %>
</body>
</html>