<%- include('header.ejs') %>
<body class="d-flex flex-column vh-100 bg-<%= locals.theme %>">
    <%- include('navigation.ejs') %>
    <section class="about-section container-fluid mx-auto d-block justify-content-center align-items-center">
        <%- include('about_content/abt_title.ejs') %>
        <%- include('about_content/what_i_love.ejs') %>
    </section>
    <%- include('footer.ejs') %>
    <%- include('scripts.ejs') %>
</body>
</html>