<%- include('header.ejs') %>
<body class="d-flex flex-column vh-100 bg-<%= locals.theme %>">
    <%- include('navigation.ejs') %>
    <section class="contact-section container-fluid mx-auto d-flex justify-content-center align-items-center">
        <div class="details-container d-block">
            <p class="h7 text-center">Get In Touch</p>
            <h1 class="display-1 text-center">Contact Me</h1>
            <!-- <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="border rounded-3">
                            <form action="#!">
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="contact-container border mx-auto d-flex p-2 mt-4 justify-content-center">
                <div class="mx-auto d-flex justify-content-center align-items-center">
                    <div class="icon icon-no-effects" style="mask-image: url('../assets/email.svg');""></div>
                    <a class="link-secondary ms-1" href="mailto:tobi@tobi-deruiter.info">tobi@tobi-deruiter.info</a>
                </div>
                <div class="mx-auto d-flex justify-content-center align-items-center">
                    <div class="icon icon-no-effects" style="mask-image: url('../assets/linkedin.svg');""></div>
                    <a class="link-secondary ms-1" href="https://www.linkedin.com/in/tobi-deruiter/">LinkedIn</a>
                </div>
            </div>
        </div>
    </section>
    <!-- <section class="py-3">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
                    <h2 class="mb-4 display-5 text-center">Contact</h2>
                    <p class="text-secondary mb-5 text-center">The best way to contact us is to use our contact form below. Please fill out all of the required fields and we will get back to you as soon as possible.</p>
                    <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="border rounded shadow-sm overflow-hidden">
                        <form action="#!">
                            <div class="row gy-5 p-4">
                                <div class="col-md-6">
                                    <label for="fullname" class="form-label">Full Name <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="fullname" name="fullname" value="" required>
                                </div>
                                <div class="col-md-6">
                                    <label for="email" class="form-label">Email <span class="text-danger">*</span></label>
                                    <div class="input-group">
                                        <span class="input-group-text">
                                            <div class="icon icon-no-effects" style="mask-image: url('../assets/email.svg');""></div>
                                        </span>
                                        <input type="email" class="form-control" id="email" name="email" value="" required>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label for="message" class="form-label">Message <span class="text-danger">*</span></label>
                                    <textarea class="form-control" id="message" name="message" rows="3" required></textarea>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="d-grid">
                                            <button class="btn btn-primary btn-lg" type="submit">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <%- include('footer.ejs') %>
    <%- include('scripts.ejs') %>
</body>
</html>