<%- include('header.ejs') %>
<body class="d-flex flex-column vh-100 bg-<%= locals.theme %>">
    <%- include('navigation.ejs') %>
    <section class="contact-section container-fluid mx-auto d-flex justify-content-center align-items-center">
        <div class="details-container d-block">
            <p class="h7 text-center">Get In Touch</p>
            <h1 class="display-1 text-center">Contact Me</h1>
            <div class="contact-container border mx-auto d-flex p-1 mt-4 justify-content-center">
                <div class="mx-auto d-flex justify-content-center align-items-center">
                    <img class="email-icon me-2" src="./assets/email_<%= locals.theme %>.png" alt="Email Icon">
                    <a class="link-secondary" href="mailto:zachderuiter@gmail.com">zachderuiter@gmail.com</a>
                </div>
                <div class="mx-auto d-flex justify-content-center align-items-center">
                    <img class="linkedin-icon me-3" src="./assets/linkedin_<%= locals.theme %>.png" alt="LinkedIn Icon">
                    <a class="link-secondary" href="//https://www.linkedin.com/in/tobi-deruiter/">LinkedIn</a>
                </div>
            </div>
        </div>
    </section>
    <%- include('footer.ejs') %>
    <%- include('scripts.ejs') %>
</body>
</html>