<%- include('header.ejs') %>
<body class="d-flex flex-column vh-100 bg-<%= locals.theme %>">
    <%- include('navigation.ejs') %>
    <section class="experience-section container-fluid mx-auto d-block justify-content-center align-items-center">
        <%- include('exp_content/university.ejs') %>
        <%- include('exp_content/prev_work.ejs') %>
        <%- include('exp_content/skills.ejs') %>
    </section>
    <%- include('footer.ejs') %>
    <%- include('scripts.ejs') %>
</body>
</html>