<div class="about-pic-container">
    <img class="about-pic" src="./assets/about-me-bar-pic.jpg" alt="Profile Picture">
    <div class="title-container">
        <p class="h7 text-center">Get To Know More</p>
        <h1 class="display-1 text-center">About Me</h1>    
    </div>
</div>
<div class="content-container container-fluid mx-auto mt-3 justify-content-center align-items-center">
    <div class="about-me-container mx-auto justify-content-center">
        <div class="about-containers mx-auto justify-content-center align-content-center">
            <div class="details-container container mx-auto p-2 border justify-content-center">
                <div class="icon icon-no-effects mx-auto d-block" style="mask-image: url('../assets/education.svg');"></div>
                <h3 class="text-center gradient" onclick="location.href='/experience/#education'">Education</h3>
                <table class="table table-hover">
                    <tbody>
                    <tr onclick="location.href='/experience/#purdue'">
                        <td class="bg-<%= locals.theme %> align-content-center">Purdue University, BS</td>
                        <td class="bg-<%= locals.theme %> text-center">Computer Science: Software Engineering, 2024</td>
                    </tr>
                    <tr onclick="location.href='/experience/#purdue'">
                        <td class="bg-<%= locals.theme %> align-content-center">Purdue University, BS</td>
                        <td class="bg-<%= locals.theme %> text-center">Robotics Engineering Technology, 2024</td>
                    </tr>
                    <tr onclick="location.href='/experience/#unsw'">
                        <td class="bg-<%= locals.theme %> align-content-center">UNSW, Australia</td>
                        <td class="bg-<%= locals.theme %> text-center">Study Abroad, Jan. - May 2023</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="details-container container mx-auto p-2 border justify-content-center">
                <div class="icon icon-no-effects mx-auto d-block icon-exp m-1" style="mask-image: url('../assets/experience.svg');"></div>
                <h3 class="text-center gradient" onclick="location.href='/experience/#experience'">Experience</h3>
                <table class="table table-hover">
                    <tbody>
                    <tr onclick="location.href='/experience/#coding-mind'">
                        <td class="bg-<%= locals.theme %> align-content-center">Instructor</td>
                        <td class="bg-<%= locals.theme %> text-center">Coding Mind Academy</td>
                    </tr>
                    <tr onclick="location.href='/experience/#rush-market'">
                        <td class="bg-<%= locals.theme %> align-content-center">Intern</td>
                        <td class="bg-<%= locals.theme %> text-center">Rush Market</td>
                    </tr>
                    <tr onclick="location.href='/experience/#un-omaha'">
                        <td class="bg-<%= locals.theme %> align-content-center">Intern</td>
                        <td class="bg-<%= locals.theme %> text-center">University of Nebraska at Omaha</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="about-me-text mt-4 ps-2 pe-2">
            <p class="text-center">
                I graduated in December, 2024 from Purdue University double majoring with a Bachelor of
                Science in Computer Science with a concentration in Software Engineering and a
                Bachelor of Science in Robotics Engineering Technology. I am 
                passionate about pursuing a careeer where I can make a difference and be a positive 
                influence.
            </p>
        </div>
    </div>
</div>